.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.form-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button.is-primary {
  background-color: #4caf50;
  color: #fff;
}

.button.is-primary:hover {
  background-color: #3e8e41;
}

.button.is-danger {
  background-color: #f44336;
  color: #fff;
}

.button.is-danger:hover {
  background-color: #d32f2f;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.list-item-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f5f5f5;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.card-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.card-body {
  padding: 20px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-card {
  display: flex;
  flex-direction: column;
}

.item-nav {
  font-size: 18px;
  font-weight: bold;
  word-break: break-all;
}

.item-dil {
  font-size: 14px;
  color: #666;
  word-break: break-all;
}

.list-item-buttons {
  display: flex;
  gap: 10px;
}

h1 {
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.update-inputs {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.update-inputs input {
  margin-right: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 16px;
  flex-grow: 1;
}
.update-inputs button {
  background-color: #4caf50;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}
.update-inputs button:hover {
  background-color: #3e8e41;
}
.form-dil .input {
  height: auto;
  min-height: 75px;
  resize: vertical;
  padding-top: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  white-space: pre-wrap;
}
.form-dil .input:focus {
  padding-top: 0;
}
